/* used for pre-rendering to get the size of each node */
.markmap-container {
  position: absolute;
  width: 0;
  height: 0;
  top: -100px;
  left: -100px;
  overflow: hidden;

  > .markmap-foreign {
    display: inline-block;

    > div {
      /* first-child for line wrapping, last-child for max-width detection */
      &:last-child {
        &,
        /* override base CSS */
        :not(pre) {
          white-space: nowrap;
        }
        code {
          white-space: inherit;
        }
      }
    }
  }
}
