/* used for pre-rendering to get the size of each node */
.markmap-container {
  position: absolute;
  width: 0;
  height: 0;
  top: -100px;
  left: -100px;
  overflow: hidden;

  > * {
    display: inline-block;

    > .markmap-foreign {
      &:last-child {
        white-space: nowrap;
      }
    }
  }
}
