.markmap {
  --markmap-max-width: none;
  --markmap-a-color: #0097e6;
  --markmap-a-hover-color: #00a8ff;
  --markmap-code-bg: #f0f0f0;
  --markmap-code-color: #555;
  --markmap-highlight-bg: #ffeaa7;
  --markmap-table-border: 1px solid currentColor;
  --markmap-font: 300 16px/20px sans-serif;
  --markmap-circle-open-bg: #fff;
  --markmap-text-color: #333;

  font: var(--markmap-font);
  color: var(--markmap-text-color);

  &-link {
    fill: none;
  }

  &-node {
    > circle {
      cursor: pointer;
    }
  }

  &-foreign {
    display: inline-block;

    p {
      margin: 0;
    }

    a {
      color: var(--markmap-a-color);
      &:hover {
        color: var(--markmap-a-hover-color);
      }
    }

    code {
      padding: 0.25em;
      font-size: calc(1em - 2px);
      color: var(--markmap-code-color);
      background-color: var(--markmap-code-bg);
      border-radius: 2px;
    }

    pre {
      margin: 0;
      > code {
        display: block;
      }
    }

    del {
      text-decoration: line-through;
    }

    em {
      font-style: italic;
    }

    strong {
      font-weight: bold;
    }

    mark {
      background: var(--markmap-highlight-bg);
    }

    table,
    th,
    td {
      border-collapse: collapse;
      border: var(--markmap-table-border);
    }

    img {
      display: inline-block;
    }

    svg {
      fill: currentColor;
    }
  }

  &-foreign-testing-max {
    max-width: var(--markmap-max-width);

    img {
      max-width: var(--markmap-max-width);
      max-height: none;
    }
  }
}

.markmap-dark .markmap {
  --markmap-code-bg: #1a1b26;
  --markmap-code-color: #ddd;
  --markmap-circle-open-bg: #444;
  --markmap-text-color: #eee;
}
