<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Markmap</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/markmap-lib/dist/style.css">
<script src="https://cdn.jsdelivr.net/combine/npm/d3,npm/d3-hierarchy"></script>
<script src="https://cdn.jsdelivr.net/npm/markmap-lib/dist/view.min.js"></script>
</head>
<body>
<svg id="mindmap"></svg>
<script>markmap.render('svg#mindmap', {/* data */})</script>
</body>
</html>
