* {
  margin: 0;
  padding: 0;
}

.markmap {
  display: block;
  width: 100vw;
  height: 100vh;

  a {
    fill: #0097e6;
    &:hover {
      fill: #00a8ff;
    }
  }

  &-node {
    cursor: pointer;
  }

  &-link {
    fill: none;
  }

  &-em {
    font-style: italic;
  }

  &-strong {
    font-weight: 500;
  }
}
