.mm-toolbar {
  @apply flex items-center rounded bg-white border border-solid border-gray-300 leading-none;
  user-select: none;
  &:hover {
    @apply border-gray-400;
  }
  svg {
    display: block;
  }
  > * {
    @apply m-1 cursor-pointer;
    > * {
      @apply text-gray-400;
    }
    &:hover {
      @apply bg-gray-200 rounded;
      > * {
        @apply text-gray-800;
      }
    }
  }

  &-brand {
    > img {
      @apply w-4 h-4 align-middle;
    }
    > a {
      @apply inline-block text-xs no-underline pr-1;
    }
  }
  &-item {
    > * {
      min-width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
    }
  }
}
